@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");

@import "mixins/breakpoints";

@import "common/normalize";
@import "common/variables";
@import "common/nav";
@import "common/footer";
@import "common/contact-form";

@import "helpers/helpers";

@import "pages/offers";
@import "pages/offer";
@import "pages/about-us";
@import "pages/references";
@import "pages/text";

html {
  color: $text-color-dark;
  font-size: 20px;
  line-height: 32px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  text-rendering: geometricPrecision;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0 0 0 30px;
    font-size: 16px;
    line-height: 24px;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 7px;
      left: 0;
      width: 11px;
      height: 11px;
      background: url("../images/star.svg") center center no-repeat;
    }
  }
}

body {
}

a {
  color: $text-color-dark;
  text-decoration: none;

  &:hover {
    color: $color-blue-primary;
  }
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.homepage {
  #top {
    background: $color-background-gray;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      @include breakpoint(small) {
        bottom: 0;
        left: 0;
        right: 0;
        background: $color-white;
        height: 175px;
      }
      @include breakpoint(medium) {
        height: 220px;
      }
      @include breakpoint(large) {
        height: 290px;
      }
    }

    .top-title {
      padding: 25px 0;
      position: relative;
      @include breakpoint(small) {
        padding: 50px 75px;
      }
      @include breakpoint(medium) {
        padding: 75px;
      }

      h1 {
        font-size: 32px;
        line-height: 1.5;
        font-weight: 500;
        @include breakpoint(xsmall) {
          padding-right: 50px;
        }
        @include breakpoint(small) {
          padding-right: unset;
          text-align: center;
          font-size: 36px;
        }
        @include breakpoint(medium) {
          font-size: 48px;
          line-height: 1.4;
        }
        @include breakpoint(large) {
          font-size: 72px;
          line-height: 1.3;
        }

        strong {
          font-weight: normal;
          position: relative;
          font-weight: 500;

          &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            top: 0;
            background-image: url("../images/top-line.svg");
            background-size: 425px auto;
            background-position: center bottom;
            background-repeat: no-repeat;
            pointer-events: none;
          }
        }
      }

      .action {
        display: none;
        @include breakpoint(medium) {
          display: block;
          position: absolute;
          bottom: 90px;
          left: 0;
          font-size: 12px;
          line-height: 18px;
          width: 100px;
        }

        span {
          display: block;
        }
      }
    }

    .image-wrapper {
      margin: 0 -25px;
      position: relative;
      z-index: 2;
      @include breakpoint(small) {
        margin: 0;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: -50px;
        right: 20px;
        width: 51px;
        height: 78px;
        background-image: url("../images/top-arrow-small-mobile.svg");
        background-size: 100% auto;
        background-position: center bottom;
        background-repeat: no-repeat;
        z-index: 3;
        @include breakpoint(medium) {
          top: -130px;
          right: unset;
          left: 60px;
          width: 77px;
          height: 117px;
          background-image: url("../images/top-arrow-small.svg");
        }
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -240px;
        right: 10px;
        width: 71px;
        height: 259px;
        background-image: url("../images/top-arrow-big-mobile.svg");
        background-size: 100% auto;
        background-position: center bottom;
        background-repeat: no-repeat;
        z-index: 3;
        @include breakpoint(medium) {
          top: 40px;
          bottom: unset;
          left: -100px;
          right: unset;
          width: 180px;
          height: 470px;
          background-image: url("../images/top-arrow-big.svg");
        }
      }

      .image-mask {
        overflow: hidden;
        position: relative;

        &:after {
          @include breakpoint(medium) {
            content: "";
            display: block;
            position: absolute;
            bottom: -185px;
            left: -100px;
            width: 200%;
            height: 200px;
            background: $color-white;
            transform: rotate(5deg);
          }
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  #intro {
    .wrapper {
      display: grid;
      @include breakpoint(medium) {
        grid-template-columns: 1fr 1fr;
      }

      .col:nth-of-type(2) {
        padding-top: 24px;
        padding-right: 20px;
        @include breakpoint(small) {
          padding-right: 70px;
        }
        @include breakpoint(medium) {
          padding-top: 90px;
          padding-right: 0;
          padding-bottom: 90px;
        }
        @include breakpoint(large) {
          padding-bottom: 180px;
        }
      }
    }

    h2 {
      font-size: 26px;
      line-height: 34px;
      font-weight: 400;
      color: $color-blue-primary;
      margin-right: 50px;
      margin-top: 50px;
      @include breakpoint(medium) {
        margin-top: 42px;
        font-size: 30px;
        line-height: 40px;
      }
      @include breakpoint(large) {
        margin-top: 18px;
        font-size: 40px;
        line-height: 56px;
      }
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      padding-bottom: 24px;
      @include breakpoint(medium) {
        font-size: 21px;
        padding-bottom: 32px;
      }
      @include breakpoint(large) {
        font-size: 24px;
        padding-bottom: 40px;
      }
    }
  }

  #slider {
    .container {
      display: grid;
      grid-template-areas: "title" "image" "content";
      margin: 0;
      @include breakpoint(small) {
        margin: 0 auto;
      }
      @include breakpoint(medium) {
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 1fr;
        grid-template-areas: "title image" "content image";
      }
    }

    .col {
      &:nth-of-type(1) {
        grid-area: title;
        @include breakpoint(medium) {
          display: flex;
          align-items: center;
          justify-content: end;
          padding-top: 80px;
          background: $color-background-gray;
        }
        @include breakpoint(large) {
          padding-top: 120px;
        }
      }

      &:nth-of-type(2) {
        grid-area: content;
        background: $color-background-gray;
        @include breakpoint(medium) {
          display: flex;
          align-items: flex-start;
          justify-content: end;
          background: $color-background-gray;
        }
      }

      &:nth-of-type(3) {
        grid-area: image;
      }
    }

    .title {
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 25px;
      @include breakpoint(small) {
        margin-left: -1px;
      }
      @include breakpoint(medium) {
        width: 480px;
        margin-left: -2px;
      }
      @include breakpoint(large) {
        width: 600px;
        margin-left: -3px;
      }
    }

    .slides {
      padding: 25px;
      @include breakpoint(medium) {
        width: 480px;
        padding: 0 60px 0 0;
      }
      @include breakpoint(large) {
        width: 600px;
        padding: 0 120px 0 0;
      }

      .slide {
        h4 {
          font-size: 24px;
          line-height: 48px;
          font-weight: 400;
          margin-bottom: 10px;
          color: $color-blue-secondary;
        }

        p {
          display: none;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 25px;
        }

        &.active {
          h4 {
            color: $text-color-dark;
          }

          p {
            display: block;
          }
        }
      }
    }

    .images {
      @include breakpoint(medium) {
        height: 600px;
        overflow: hidden;
      }
      @include breakpoint(large) {
        height: 720px;
      }

      .image {
        img {
          width: 100%;
          height: auto;
          @include breakpoint(medium) {
            height: 720px;
            width: auto;
          }
        }
      }
    }
  }

  #testimonials {
    padding: 60px 0;
    position: relative;
    @include breakpoint(medium) {
      overflow: hidden;
      padding: 110px 0;
    }
    @include breakpoint(xlarge) {
      overflow: unset;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -240px;
      right: 0px;
      width: 351px;
      height: 505px;
      background: url("../images/testimonials-arrow-mobile.svg") center center
        no-repeat;
      pointer-events: none;
      z-index: 10;

      @include breakpoint(medium) {
        content: "";
        display: block;
        position: absolute;
        top: -200px;
        left: 50%;
        width: 808px;
        height: 494px;
        background: url("../images/testimonials-arrow.svg") center center
          no-repeat;
        pointer-events: none;
      }
    }

    h2 {
      font-size: 32px;
      line-height: 1.5;
      font-weight: 400;
      margin-bottom: 30px;
      margin-top: 100px;
      @include breakpoint(medium) {
        margin-top: unset;
        font-size: 48px;
        line-height: 1.2;
        margin-right: 40%;
        margin-bottom: 60px;
      }
    }
  }

  #offers {
    .align-center {
      padding-top: 80px;
    }
  }
}

#testimonials {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 60px;
    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 60px;
    }
    @include breakpoint(large) {
      grid-column-gap: 0;
    }

    article {
      .logo {
        height: 50px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;

        img {
          width: auto;
          max-height: 50px;
        }
      }

      p {
        font-size: 14px;
        line-height: 24px;
        @include breakpoint(large) {
          margin-right: 27%;
        }
      }

      .person {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-column-gap: 16px;

        .image {
          img {
            width: 60px;
            height: auto;
          }
        }

        .description {
          .name {
            font-size: 18px;
            font-weight: 500;
            line-height: 18px;
            margin-bottom: 5px;
          }

          .role {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $color-blue-secondary;
          }
        }
      }
    }
  }
}

#contact-form {
  padding: 60px 0;
  @include breakpoint(medium) {
    padding: 110px 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .text {
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -120px;
      left: -190px;
      width: 451px;
      height: 194px;
      background: url("../images/contact-arrow.svg") center center no-repeat;
      transform: rotate(45deg);
      @include breakpoint(small) {
        left: -110px;
      }
      @include breakpoint(medium) {
        top: 215px;
        left: unset;
        right: 300px;
        transform: rotate(0);
      }
    }

    .title {
      margin-bottom: 60px;
      @include breakpoint(medium) {
        margin-right: 20%;
        margin-bottom: 60px;
      }
    }
  }

  .contact {
    .form {
      margin: 130px 0 60px 0;
    }

    p,
    a {
      font-size: 28px;
      line-height: 46px;
    }

    a {
      font-weight: 400;
      color: $color-blue-primary;
    }
  }
}
