@import "../mixins/breakpoints";
@import "../common/variables";

.form {
  form {
    position: relative;
    display: grid;
    grid-template-areas: "name" "mail" "content" "button";
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    @include breakpoint(small) {
      grid-template-areas: "name mail" "content content" "button button";
    }

    .user_name {
      grid-area: name;
      position: relative;
    }
    .user_email {
      grid-area: mail;
      position: relative;
    }
    .user_message {
      grid-area: content;
      position: relative;
    }

    .line {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background: $color-blue-primary;
      z-index: 2;
      transition: width 0.4s ease-in-out;
    }

    button {
      grid-area: button;
      align-self: start;
      background: $color-blue-primary;
      color: $color-white;
      border: 0;
      margin: 0;
      display: block;
      outline: none;
      font-size: 16px;
      line-height: 54px;
      font-weight: 600;
      padding: 0 50px;
      font-family: "Inter", sans-serif;
      @include breakpoint(small) {
        justify-self: start;
      }

      &:hover {
        cursor: pointer;
      }
    }

    label {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
    }

    input,
    textarea {
      padding: 10px 0;
      outline: none;
      width: 100%;
      color: $text-color-dark;
      font-size: 16px;
      line-height: 20px;
      display: block;
      border: none;
      border-bottom: 1px solid $color-blue-secondary;
      position: relative;
      border-radius: 0;
      font-weight: 400;

      &::placeholder {
        color: $color-blue-secondary;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $color-blue-secondary;
      }

      &::-ms-input-placeholder {
        color: $color-blue-secondary;
      }

      &:focus {
        + .line {
          width: 100%;
        }
      }
    }

    textarea {
      height: 80px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      width: 1px;
      height: 1px;
      background: url("images/ajax_loader.svg") center center no-repeat
        rgba(248, 245, 242, 0.8);
      z-index: 10;
    }

    &.submitting {
      &:before {
        left: 0;
        bottom: 0;
        right: 0;
        width: auto;
        height: auto;
      }
    }
  }
}

/*
.form-dynamic-labels {
  .form-dynamic-label-item {
    position: relative;
    .fi-label {
      transition: all 250ms ease 0ms;
      position: absolute;
      top: 16px;
      left: 22px;
      cursor: text;
      padding: 0 10px;
      color: $color-grey;
      font-size: 14px;
      line-height: 32px;
    }
    &.filled {
      .fi-label {
        top: -10px;
        background: $color-white;
        color: $text-color-dark;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
      }
    }
  }
}

.wpcf7-not-valid-tip {
  font-size: 12px;
  line-height: 30px;
}

.wpcf7-response-output {
  margin: 20px 0 !important;
  border-color: #dc3232 !important;
  padding: 15px !important;
  border-radius: 5px;
}
*/
