@import "../mixins/breakpoints";
@import "../common/variables";

.menu-switcher {
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 101;
  width: 60px;
  height: 60px;
  border: 0;
  transition: transform 0.3s ease-in-out;

  .bar {
    transition: all 250ms ease 0ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    margin-left: -15px;
    background-color: $text-color-dark;

    &:nth-of-type(1) {
      margin-top: -8px;
    }

    &:nth-of-type(2) {
      margin-top: 0;
    }

    &:nth-of-type(3) {
      margin-top: 8px;
    }
  }

  &.active {
    .bar {
      background: $text-color-dark;
      &:nth-of-type(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -2px;
      }

      &:nth-of-type(2) {
        transform: rotate(-45deg);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -2px;
      }

      &:nth-of-type(3) {
        opacity: 0;
      }
    }
  }
}

#navigation {
  position: relative;
  height: 80px;

  .wrapper {
    background: $color-grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      transition: height 0.3s ease-in-out;
      @include breakpoint(small) {
        width: 100%;
        margin: 0 25px;
      }
      @include breakpoint(medium) {
        width: 960px;
        margin: 0 auto;
      }
      @include breakpoint(large) {
        width: 1200px;
      }
      @include breakpoint(xlarge) {
        width: 1400px;
      }

      .logo {
        width: 250px;

        img {
          transition: transform 0.3s ease-in-out;
        }
      }

      .menu-elements {
        height: 100%;
        display: flex;
        align-items: center;

        .menu-switcher {
          display: block;
          @include breakpoint(medium) {
            display: none;
          }
        }

        .menu-wrapper {
          position: fixed;
          background: $color-grey;
          top: 0;
          left: 100%;
          bottom: 0;
          width: 100%;
          z-index: 100;
          display: flex;
          transition: transform 0.25s ease-in-out;

          @include breakpoint(medium) {
            position: static;
            background: none;
            width: auto;
          }

          &.switched {
            transform: translate3d(-100%, 0, 0);
          }
        }
      }
    }

    &.compact {
      box-shadow: 0 0 1px 0 $color-grey;

      .container {
        height: 70px;
        .logo {
          img {
            transform: scale(0.8);
          }
        }
        .menu-elements {
          .menu-switcher {
            transform: translateY(-17px);
          }
        }
      }
    }
  }

  nav {
    @include breakpoint(medium) {
      position: static;
      background: none;
      opacity: 1;
      visibility: visible;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      @include breakpoint(medium) {
        flex: 1;
        justify-content: flex-end;
        flex-direction: row;
      }

      li {
        margin: 15px 0 0 20px;
        display: flex;
        align-items: center;
        position: relative;

        @include breakpoint(medium) {
          margin: 0;
          padding-left: 30px;
        }

        @include breakpoint(large) {
          padding-left: 20px;
          margin: 0 0 0 42px;
        }

        &:before {
          display: none;
        }

        a {
          text-decoration: none;
          border: none;
          color: $text-color-dark;
          font-weight: 500;
          transition: color 0.4s;
          white-space: nowrap;

          &:hover {
            color: $color-white;
          }
        }

        &.current-menu-item {
          a {
            color: $color-grey;
          }
        }

        .sub-menu {
          flex-direction: column;
          padding: 0;
          display: block;
          position: relative;
          @include breakpoint(medium) {
            position: absolute;
            flex-direction: column;
            height: auto;
            background: $color-grey;
            top: 26px;
            left: -10px;
            padding: 40px 0 20px 0;
            display: none;
          }

          &:before {
            content: "";
            display: block;
            width: 1px;
            border-left: 1px dotted $text-color-dark;
            position: absolute;
            top: 22px;
            bottom: 31px;
            left: 10px;
            @include breakpoint(medium) {
              display: none;
            }
          }

          li {
            margin: 0;
            padding: 15px 0 0 30px;
            @include breakpoint(medium) {
              padding: 5px 30px;
            }
          }
        }

        &.menu-item-has-children {
          display: block;
          @include breakpoint(medium) {
            display: flex;
            padding: 0 20px;
            background: url("../images/chevron-black.svg") right center
              no-repeat;
            background-size: 8px auto;
          }

          & > a {
            &:hover {
              color: $text-color-dark;
              cursor: default;
            }
          }

          &:hover {
            .sub-menu {
              display: block;
            }
          }
        }
      }
    }
  }
}
