$text-color-dark: #191b1d;
$text-color-light: #ffffff;
$text-color-gray: #959ba2;

$color-white: #ffffff;
$color-grey: #cccccc;
$color-black: #000000;
$color-blue-primary: #1F5DFE;
$color-blue-secondary: #838FAC;

$color-background-gray: #EBEBEB;
