@import "../mixins/breakpoints";
@import "../common/variables";

.offers {
  #navigation {
    .wrapper {
      background: $color-white;
    }
  }

  #offers {
    .current-offers {
      margin-bottom: 80px;

      .table-row {
        &:last-of-type {
          border-bottom: none;
        }
      }
    }

    .closed-offers {
      .table-header div {
        display: none;
      }
    }
  }
}

#offers {
  background: $color-background-gray;
  padding: 60px 0;
  @include breakpoint(medium) {
    padding: 110px 0;
  }

  h2.title {
    margin-right: 20%;
    margin-bottom: 30px;
    @include breakpoint(medium) {
      margin-right: 40%;
      margin-bottom: 60px;
    }

    strong {
      font-weight: normal;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        top: 0;
        background-image: url("../images/offers-underline.svg");
        background-position: center bottom;
        background-repeat: no-repeat;
        pointer-events: none;
      }
    }
  }

  h2.title-smaller {
    margin-bottom: 30px;
  }

  .table-header,
  .table-row {
    display: grid;
    border-bottom: 1px solid $color-black;
    grid-template-areas: "position position" "deadline company" "details details" "action action";
    grid-template-columns: 120px 1fr;
    @include breakpoint(small) {}
    @include breakpoint(medium) {
      grid-template-columns: 300px 120px 150px 270px 120px;
      grid-template-areas: "position deadline company details action";
    }
    @include breakpoint(large) {
      grid-template-columns: 400px 140px 200px 330px 130px;
    }

    div {
      display: flex;
      align-items: center;

      &.position {
        grid-area: position;
      }

      &.deadline {
        grid-area: deadline;
      }

      &.company {
        grid-area: company;
      }

      &.details {
        grid-area: details;
      }

      &.action {
        grid-area: action;
        padding-right: 0;
      }
    }
  }

  .table-header {
    div {
      display: none;
      @include breakpoint(medium) {
        display: block;
        font-size: 12px;
        line-height: 16px;
        padding: 0 10px 16px 0;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: $color-blue-primary;
      }
    }
  }

  .table-row {
    padding: 24px 0;
    @include breakpoint(medium) {
      padding: 0;
    }

    div {
      flex-direction: column;
      align-items: flex-start;
      padding-right: 0;

      @include breakpoint(medium) {
        flex-direction: row;
        align-items: center;
        min-height: 110px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
      }

      span {
        display: block;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        margin-bottom: 4px;
        color: $color-blue-primary;
        @include breakpoint(medium) {
          display: none;
        }
      }

      p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
        overflow-wrap: anywhere;
        @include breakpoint(medium) {
          margin-bottom: 0;
        }
        @include breakpoint(large) {
          font-size: 20px;
          line-height: 28px;
        }
      }

      &.position {
        p {
          font-size: 20px;
          line-height: 28px;
          @include breakpoint(medium) {
            font-size: 16px;
            line-height: 24px;
          }
          @include breakpoint(large) {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
    }
  }
}
