@import "../mixins/breakpoints";
@import "../common/variables";

.references {
  #top {
    background: $color-background-gray;
    position: relative;
    padding: 60px 0 110px 0;

    &:before {
      content: "";
      display: block;
      width: 633px;
      height: 416px;
      background: url("../images/references-line.svg") center center no-repeat;
      position: absolute;
      top: -120px;
      left: calc(50% + 100px);
      pointer-events: none;
    }

    .title {
      padding-right: 50%;
      margin-bottom: 70px;
    }

    .wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;

      p {
        font-size: 16px;
        line-height: 24px;

        &.subtitle {
          margin-bottom: 40px;
        }
      }

      h4 {
        font-weight: normal;
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 24px;
      }

      article {
        display: grid;
        grid-template-columns: 32px 1fr;
        grid-column-gap: 16px;
        margin-bottom: 40px;
      }

      .col {
        &:first-of-type {
          article {
            max-width: 260px;
            min-height: 48px;
          }
        }
      }

      .inner-wrapper {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-column-gap: 20px;
        grid-row-gap: 40px;

        article {
          max-width: 260px;
          margin: 0;

          h4 {
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  #single-reference {
    padding: 80px 0;

    .title {
      padding-right: 40%;
      margin-bottom: 24px;
    }

    .wrapper {
      display: grid;
      grid-template-columns: 240px 1fr;

      .person {
        padding: 60px 0;
        background-image: linear-gradient(90deg, $color-white 50%, $color-background-gray 50%);
        .company-logo,
        .image {
          margin-bottom: 10px;
        }

        h4 {
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          color: $color-blue-secondary;
        }
      }

      .content {
        background: $color-background-gray;
        column-count: 2;
        column-gap: 70px;
        padding: 60px 100px 60px 0;

        p {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }

  #testimonials {
    padding-bottom: 110px;
    .wrapper {
      grid-row-gap: 110px;
    }

    .align-center{
      margin-top: 80px;
    }
  }

  #clients {
    background: $color-background-gray;
    padding: 90px 0 120px 0;

    .title {
      margin-bottom: 24px;
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      border-top: 1px solid $color-white;
      border-left: 1px solid $color-white;

      article {
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $color-white;
        border-bottom: 1px solid $color-white;

        img {
          width: auto;
          height: auto;
          max-width: 80%;
          max-height: 80%;
        }


      }
    }
  }
}
