@import "../mixins/breakpoints";
@import "../common/variables";

.references {
  #top {
    background: $color-background-gray;
    position: relative;
    padding: 60px 0;
    @include breakpoint(medium) {
      padding: 60px 0 110px 0;
    }

    &:before {
      @include breakpoint(medium) {
        content: "";
        display: block;
        width: 419px;
        height: 416px;
        background: url("../images/references-line.svg") left center no-repeat;
        position: absolute;
        top: -120px;
        right: 0;
        pointer-events: none;
      }
      @include breakpoint(large) {
        width: 633px;
      }
      @include breakpoint(xlarge) {
        width: 633px;
        right: unset;
        left: calc(50% + 100px);
      }
    }

    .title {
      margin-bottom: 60px;
      @include breakpoint(medium) {
        padding-right: 50%;
        margin-bottom: 70px;
      }
    }

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      @include breakpoint(medium) {
        grid-template-columns: 1fr 2fr;
      }
      @include breakpoint(large) {
      }

      p {
        font-size: 16px;
        line-height: 24px;

        &.subtitle {
          margin-bottom: 40px;
        }
      }

      h4 {
        font-weight: normal;
        font-size: 21px;
        line-height: 32px;
        margin-bottom: 16px;
        @include breakpoint(medium) {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 24px;
        }
        @include breakpoint(large) {
          font-size: 28px;
          line-height: 40px;
        }
      }

      article {
        display: grid;
        grid-template-columns: 32px 1fr;
        grid-column-gap: 16px;
        margin-bottom: 40px;
      }

      .col {
        &:first-of-type {
          article {
            @include breakpoint(medium) {
              max-width: 260px;
              min-height: 48px;
            }
          }
        }
      }

      .inner-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        @include breakpoint(small) {
          grid-template-columns: 1fr 1fr;
        }
        @include breakpoint(medium) {
          grid-template-columns: 300px 300px;
        }

        article {
          margin: 0;
          @include breakpoint(small) {
            max-width: 260px;
          }

          h4 {
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  #single-reference {
    padding: 60px 0;
    @include breakpoint(medium) {
      padding: 80px 0;
    }

    .title {
      @include breakpoint(small) {
        margin-bottom: 24px;
      }
      @include breakpoint(medium) {
        padding-right: 40%;
      }
    }

    .wrapper {
      display: grid;
      grid-template-columns: 1fr;
      @include breakpoint(small) {
        grid-template-columns: 240px 1fr;
      }

      .person {
        padding: 30px 25px;
        position: relative;
        z-index: 2;
        @include breakpoint(small) {
          padding: 60px 0;
          background-image: linear-gradient(
            90deg,
            $color-white 50%,
            $color-background-gray 50%
          );
        }

        .company-logo,
        .image {
          margin-bottom: 10px;
        }

        h4 {
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          color: $color-blue-secondary;
        }
      }

      .content {
        background: $color-background-gray;
        padding: 120px 25px 25px 25px;
        margin-top: -120px;
        @include breakpoint(small) {
          margin-top: unset;
          padding: 60px 100px 60px 0;
        }
        @include breakpoint(medium) {
          column-count: 2;
          column-gap: 70px;
        }

        p {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }

  #testimonials {
    padding-bottom: 110px;
    .wrapper {
      grid-row-gap: 110px;
    }

    .align-center {
      margin-top: 80px;
    }
  }

  #clients {
    background: $color-background-gray;
    padding: 90px 0 120px 0;

    .title {
      margin-bottom: 24px;
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-top: 1px solid $color-white;
      border-left: 1px solid $color-white;
      @include breakpoint(xsmall) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include breakpoint(small) {
        grid-template-columns: repeat(4, 1fr);
      }
      @include breakpoint(medium) {
        grid-template-columns: repeat(5, 1fr);
      }

      article {
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $color-white;
        border-bottom: 1px solid $color-white;

        img {
          width: auto;
          height: auto;
          max-width: 80%;
          max-height: 80%;
        }
      }
    }
  }
}
