@import "../common/variables";
@import "../mixins/breakpoints";

.text-center {
  text-align: center;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  margin-left: -3px;

  //font-size: 20px;
  //line-height: 1.2;
  //text-transform: uppercase;
  //margin-bottom: 10px;
  //@include breakpoint(medium) {
  //  font-size: 40px;
  //  margin-left: -2px;
  //}
  //@include breakpoint(large) {
  //  margin-left: -5px;
  //  font-size: 64px;
  //}
}

.title-smaller {
  font-size: 40px;
  font-weight: 400;
  line-height: 72px;
  margin-left: -2px;
}

.btn {
  display: block;
  background: $color-blue-primary;
  color: $text-color-light;
  font-size: 16px;
  line-height: 60px;
  font-weight: 500;
  text-align: center;
  padding: 0 24px;
}

.btn-outline {

}

.show-more {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    right: -30px;
    width: 16px;
    height: 15px;
    background: url("../images/arrow-right.svg") center center no-repeat;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 105px);
    width: 232px;
    height: 66px;
    background: url("../images/offers-show-more.svg") center center no-repeat;
    pointer-events: none;
  }
}

.back {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  padding-left: 30px;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 14px;
    background: url("../images/arrow-left.svg") center center no-repeat;
  }
}

.lead {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
  @include breakpoint(medium) {
    line-height: 2;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/chevron.svg") calc(100% - 10px) center no-repeat;
  border: 1px solid #ccc;
  border-radius: 9px;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 30px 6px 10px;
  margin-bottom: 20px;
  min-width: 150px;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}
